<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_begin_gl_3d"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- 写错误日记到SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    -->

    <application
        android:name="com.ty.crashreport.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.android_begin_gl_3d.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ty.example_unit_1.UnitOneActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.UnitTwoActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.SpritchActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.ViewPortActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.ISOMapActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.DrawMethodActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.SpritchMoveActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.CanavsActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.cube.CubeActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_1.coordiatesystem.CoordiateSystemActivity" >
        </activity>

        <!-- 第一单元 ServiceActivity -->
        <activity android:name="com.ty.example_unit_1.service.ServiceActivity" >
        </activity>

        <service android:name="com.ty.example_unit_1.service.MyService" >
        </service>

        <activity android:name="com.ty.example_unit_2.UnitTwoActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_1.cube.CubeActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_1.OpenGL1Activity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_1.cuberotate.CubeRotateActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_2.OpenGL2Activity" >
        </activity>
        <!-- 第二单元 openGl2.x 加载模型 -->
        <activity android:name="com.ty.example_unit_2.opengl_2.loadmodel.LoadModelActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.SquareActivity" >
        </activity>

        <!-- 第二单元 openGl2.x 方形 -->
        <activity android:name="com.ty.example_unit_2.opengl_2.cube.CubeActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_2.cube.CubeActivity2" >
        </activity>

        <!-- 第二单元 着色语言 -->
        <activity android:name="com.ty.example_unit_2.opengl_2.shading.ShadingLanguageActivity" >
        </activity>

        <!-- 第二单元 传感器 -->
        <activity android:name="com.ty.example_unit_2.opengl_2.sensormanager.SensorManagerActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_2.opengl_2.sensormanager.AccelerometerActivity" >
        </activity>

        <!-- 第三单元 libGDX -->
        <activity android:name="com.ty.example_unit_3.libgdx.UnitThreeActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.loadmode.MaterialOpenGL2Activity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.PatchActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.timetunnel.TunnelActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.AttributeActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.MeshShaderActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.SimpleAnimationActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.TranslateActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_3.libgdx.ActorFPSAnimationActivity" >
        </activity>

        <!-- ************************************************************************************* -->
        <!-- 第四单元  android 基本知识 -->
        <activity android:name="com.ty.exsample_unit_4.UnitFourActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.AssetsActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.FullScreenTest" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.SurfaceViewTest" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.LooperActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.animation.AnimationActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.MeminfoActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.PowerConnectActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.GrapicActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.BitMapDecodeActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.CanvasDemoActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.MomentTest" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.BitmapActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.CanvasSavelayerActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.HandlerTestActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.LayoutActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.LayoutViewActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.BaseViewActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.List1" >
        </activity>
        <activity android:name="com.ty.exsample_unit_4.ViewCycleTestActivity" >
        </activity>

        <!-- *************************************************************************************** -->


        <!-- 第五单元 Android 3D游戏开发宝典里面的知识 -->
        <activity android:name="com.ty.exsample_unit_5.UnitFiveActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_5.translate.TranslateActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_5.translate.OrthCameraActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_5.translate.PerCameraActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_5.translate.CullFaceActivity" >
        </activity>

        <!-- 13.1 -->
        <activity android:name="com.ty.exsample_unit_5.shader.ShaderActivity" >
        </activity>
        <activity android:name="com.ty.exsample_unit_5.shader.FlagActivity" >
        </activity>

        <!-- *************************************************************************************** -->


        <!-- 第6单元 android可重用组件 -->
        <activity android:name="com.ty.example_unit_6.UnitSixActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_6.colorselector.ColorSelectorActivity" >
        </activity>
        <activity android:name="com.ty.example_unit_6.colorselector.RectColorActivity" >
        </activity>

        <!-- 第7单元　shell engine -->
        <activity android:name="com.example.android_begin_gl_3d.unit_7.ShellEngineActivity" >
        </activity>
        <activity android:name="com.example.android_begin_gl_3d.unit_7.Cire3DActivity" >
        </activity>
        <activity android:name="com.example.android_begin_gl_3d.unit_7.Main" >
        </activity>
        <activity android:name="com.example.android_begin_gl_3d.unit_7.BaseTestActivity" >
        </activity>
    </application>

</manifest>