<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sny.tangyong.basic">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- android:name=".BasicApplication"  作为一个moudle的时候 不需要配置 -->
    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat">

        <!-- uses-library -->
        <!-- <uses-library android:name="com.sny.tangyong.common"></uses-library> -->

        <meta-data
            android:name="TCL_STATISTICS_APP_KEY"
            android:value="yyql057a60" />
        <meta-data
            android:name="SERVER_DOMAIN"
            android:value="china" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".GLSurfaceViewActivity" />
        <activity android:name=".FullScreenTest" />
        <activity android:name=".LooperActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".PowerConnectActivity" />
        <activity android:name=".MeminfoActivity" />
        <activity android:name=".AttriAnimationLayoutActivity" />
        <activity android:name=".LayoutViewActivity" />
        <activity android:name=".CanvasSavelayerActivity" />
        <activity android:name=".GrapicActivity" />
        <activity android:name=".List1" />
        <activity android:name=".AttriAnimationXMLActivity" />
        <activity android:name=".CanvasDemoActivity" />
        <activity android:name=".BaseViewActivity" />
        <activity android:name=".BelendingActivity" />
        <activity android:name=".BitmapActivity" />
        <activity android:name=".HandlerTestActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".ViewCycleTestActivity" />
        <activity android:name=".DipTestActivity" />
        <activity android:name=".WallpaperManagerTest" />
        <activity android:name=".CacheBitmapActivity" />
        <activity android:name=".AttriAnimationActivity" />
        <activity android:name=".ConcurrentModificationExceptionActivity" />
        <activity android:name=".SyncTaskActivity" />
        <activity android:name=".DeviceInfomation" />
        <activity android:name=".BitMapDecodeActivity" />
        <activity android:name=".BitMapDecodeTest" />
        <activity android:name=".LooperVersion2" />
        <activity
            android:name=".FragmentTest"
            android:label="@string/app_name" />
        <activity
            android:name=".BesetPracticeForThread"
            android:label="thread" />
        <activity
            android:name=".BasicImeaActivity"
            android:label="@string/title_activity_basic_imea"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasicDeviceInfoActivity"
            android:label="@string/title_activity_basic_device_info"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="CHANNEL"
            android:value="GooglePlay" />

        <activity android:name=".UnCatchExceptionActivity" />
        <activity android:name=".BasicHttpActivity" />
        <activity android:name=".BasicHttpTwoActivity" />
        <activity android:name=".BasicUnquiueIdentifyActivity" />
        <activity android:name=".BasicFragment" />
        <activity android:name=".BasicGraphicListActivity" />
        <activity android:name=".LoadImageDataActivity" />
        <activity android:name=".ProcessImageOnUiActivity" />
        <activity android:name=".ManagerBitmapActivity" />
        <activity android:name=".DisplayBitmapActivity" />
        <activity android:name=".CreateBackGroundServiceActivity" />
        <activity android:name=".SendRequestToServiceActivity" />
        <activity android:name=".ReportingWorkStateActivity" />
        <activity android:name=".BasicBestPracticeForPerfemenceActivity" />
        <activity android:name=".BasicManagerMemoryActivity" />
        <activity android:name=".PerfemenceTipActivity" />
        <activity android:name=".LayoutPerfemenceListActivity" />
        <activity android:name=".BasicPerfemenceListActivity" />
        <activity android:name=".BatteryLifeListActivity" />
        <activity android:name=".BasicThreadListActivity" />
        <activity android:name=".BasicMemListActivity" />
        <activity android:name=".BasicOtherListActivity" />
        <activity android:name=".ReduceBatteryDrainActivity" />
        <activity android:name=".BasicOtherWifiConectedActivity" />
        <activity android:name=".BasicErrorReportActivity" />
        <activity android:name=".BasicThreadTaskManager" />
        <activity android:name=".BasicGraphicInterpolatorActivity" />
        <activity android:name=".AndroidNPreViewListActivity" />
        <activity android:name=".BackGroundOptizationActivity" />
        <activity android:name=".ExternalStorageActivity" />
        <activity android:name=".CreateExFileActivity"></activity>
    </application>

</manifest>